/* CSS Reset */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.btn:hover{

    animation: pulse; 
    animation-duration: 2s; 



}
#img:hover{

    animation: pulse; 
    animation-duration: 1s; 
    box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;


}
.zoomin{

    
    animation:zoomInDown;
    animation-duration: 2s; 
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0px;
    transition : box-shadow 2s;
}
#navbar:hover{
    box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

#navbar::before{
    content: "";
    background-color: rgb(255, 215, 0);
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
    transition : box-shadow 2s;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#myVideo{ 
    content: "";
    position: absolute;
   object-fit: cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:2;
}

#home h1{
    color:rgb(255, 215, 0);
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:rgb(255, 247, 0);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#greatknocks{
    margin: 34px;
    display: flex;
}
#greatknocks .box{ 
    border: 2px solid rgb(236, 207, 47);
    padding: 15px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
  ;
   transition : box-shadow 2s;
}
.box:hover{
    transform :scale(1.1);
    cursor: pointer;
    box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    }
#greatknocks .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#greatknocks .box p{
    font-family: 'Bree Serif', serif;
    text-align: justify;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../vk2.jpg') no-repeat center center/cover;
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.5;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#linker{

    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
  
}
.client-item{
    padding: 34px;
    
}
#vi{
    width: 320px;
   border: 3px solid rgb(255, 247, 0);
    height: 240px;
    object-fit: cover;
transition : width 2s,height 2s,box-shadow 2s;

}
#vi:hover{
transform :scale(1.2);
box-shadow:rgba(0,0,0,1) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


#clients img{
    height: 124px;

}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../vk4.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: rgb(255, 215, 0);
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(255, 0, 0);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}
